

<% if user_signed_in? %>
	<h1 class="page-header">Bienvenido <%= current_user.email %></h1>
    


<% else %>
    <p><%= link_to "Crea una cuenta", new_user_registration_path %></p>
    <p>Si ya tienes una cuenta <%= link_to "logueate", new_user_session_path %></p>
<% end %>