<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contacto", 'mailto:ventas@hth.cl' %></li>
      <li><a href="http://http://www.hth.cl/noticias/">Noticias</a></li>
    </ul>
  </nav>
</footer>